@font-face {
    font-family: 'NotoSans';
    font-weight: bold;
    src: url('NotoSans/NotoSans-Bold.eot');
    src: url('NotoSans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('NotoSans/NotoSans-Bold.woff') format('woff'),
         url('NotoSans/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-weight: normal;
    src: url('NotoSans/NotoSans-Regular.eot');
    src: url('NotoSans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('NotoSans/NotoSans-Regular.woff') format('woff'),
         url('NotoSans/NotoSans-Regular.ttf') format('truetype');
}