* {
 margin: 0;
 padding: 0;
 list-style: none;
 box-sizing: border-box;
}

body {
  font-family: 'NotoSans', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: none;
  width: 100%;
}

button {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.block {
  display: block;
}