.option-button-group {
    padding-left: 40px;
    margin-bottom: 20px;
}

.option-button-group button {
    height: 46px;
    padding: 0 25px;
    margin-right: 10px;
    margin-bottom: 9px;
    border-radius: 23px;
    font-size: 14px;
    line-height: 46px;
}

.option-button-group .red {
    border: 1px solid #C7ADD9;
    color: #C7ADD9;
}

.option-button-group .gray {
    border: 1px solid #878787;
    color: #878787;
}